/* Import of my fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/* ------ Special settings */
h1 h2 h3 h4 h5 h6 p {
    color: antiquewhite;
}

a {
    color: antiquewhite;
}

h1 {
    padding-top: 5%;
}

body {
    background-color: #2E86C1;
    font-family: "Roboto", Sans-serif;
    color: antiquewhite; 
}

div.row {
    margin-left: 0;
    margin-right: 0;
}

.btn-primary {
    background-color: #2471A3;
    color: antiquewhite;
    font-size: 25px;
    margin-top: 4%;
}

/*----------- Navbar ---*/

 a.navbar-brand {
    text-align: center;
    font-size: 50px;
    font-weight: 3px;
    color: antiquewhite;
    vertical-align: center;
}

nav.navbar {
    border-bottom: 1px solid #2471A3;
}

/* -------------Toggle bar --*/
span.navbar-toggler-icon {
    color: antiquewhite;
}

/* -------- Carousel */

div.carousel-item {
    max-height: 800px;
}

/*--------- Footer */
.text-color {
    color: antiquewhite;
}

div.panel-heading {
    border-top: 1px solid antiquewhite;
    border-bottom: 1px solid antiquewhite;
    background-color: #2471A3;
    height: 75px;
}

div.panel-heading.panel-heading-style {
    border-top: 1px solid antiquewhite;
    border-bottom: 1px solid antiquewhite;
    background-color: #2471A3;
    height: 75px;
    margin-top: 3%;
}

h3.panel-title {
    text-align: center;
    padding-top: 20px;
}

div.col-sm-4.text-center {
    margin-top: 3%;
}

/*----------------- Index */

h3.panel-title.text-center.text-color {
    padding-top: 0;
}

/*----------- Search bar */
#form-style {
    padding: 5%;
    text-align: center;
    border-bottom: 1px solid #2471A3;
    
}

input {
    border-radius: 10px;
    border-color: antiquewhite;
    height: 75px;
    padding-left: 5%;
}

#search_button {
    border-radius: 10px;
    border-color: antiquewhite;
    height: 75px;
    color: antiquewhite;
    margin-top: 0%;
}

button.col-3.bg-success {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

strong.search-text {
    font-size: 18px;
}

/* ---------- Product box ---*/

div.product {
    height: 300px;
}

#product-box {
    border: 1px solid antiquewhite;
    border-radius: 10px;
    padding: 5%;
    margin-top: 5%;
    margin-bottom: 5%
}




/*-------------- Remove */
div.col-12 {
    padding-left: 0;
    padding-right: 0;
}

/* ----------- Contact us ---*/

h1.contact-header {
    text-align: center;
}

#contact-form-style {
    border: 1px solid antiquewhite;
    border-radius: 10px;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 5%;
}

button.contact-button-style {
    height: 75px;
    text-align: center;
    border-radius: 10px;
    color: antiquewhite;
    border-color: antiquewhite;
}

div.form-actions {
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
}

div.card {
    color: #2471A3;
    text-align: center;
    padding-bottom: 25px;
    margin-bottom: 10%;
    margin-top: 10%;
}

div.card-header {
    background-color: #2471A3;
    color: antiquewhite;
}

h5.card-extra-styling {
    font-size: 70px;
}

h5.card-extra-styling-two {
    text-align: center;
}

/* --------------- Contact - Success */
i.fas.fa-check {
    font-size: 50px;
    color: lightgreen;
    padding-top: 5%;
}


/*-------------- Login ---*/
h4.card-title {
    background-color: #2471A3;
    color: antiquewhite;
    height: 50px;
    border-radius: 5px;
    padding-top: 10px;
    vertical-align: center;
}


/*----------------- Logout ---*/


button.logout-button-style {
    height: 50px;
    background-color: #2471A3;
    color: antiquewhite;
    border: 1px solid antiquewhite;
    border-radius: 5px;
    margin: 5%;
}

div.logout-style {
    padding-top: 5%;
}