{% extends 'base.html' %} {% load crispy_forms_tags %} {% block main %}
<div class="container">
  <div class="col-6 offset-3"></div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Log in to your account</h4>

      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />

        {{ form|crispy }}

        <button id="login-btn-style" type="submit" class="btn btn-primary btn-block"><strong>Log in</strong></button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
