{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main %}
<div  class="card">
    <div  class="card-body">
        <h4  class="card-title">Password Reset Done</h4>
        <form  method="post">
            {% csrf_token %}
            <input  type="hidden"  name="next"  value="{{ next }}">
            {{ form|crispy }}
            <h3>Your Password has now been changed!</h3>
            <button  href="#"  class="btn btn-primary btn-block">Home</button>
        </form>
    </div>
</div>

{% endblock %}