{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main %}
<div  class="card">
    <div  class="card-body">
        <h4  class="card-title">Password Reset Confirm</h4>
        <form  method="post">
            {% csrf_token %}
            <input  type="hidden"  name="next"  value="{{ next }}">
            {{ form|crispy }}

            <button  type="submit"  class="btn btn-primary btn-block">Reset</button>
            <button  href="#"  class="btn btn-primary btn-block">No</button>
        </form>
    </div>
</div>

{% endblock %}