{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main %}
<div  class="card">
    <div  class="card-body">
        <h4  class="card-title">Your password has been changed!</h4>
        <form  method="post">
            {% csrf_token %}
            <input  type="hidden"  name="next"  value="{{ next }}">
            {{ form|crispy }}
            <h3>Your Password has now been changed!</h3>
            <p>Someone has changed your password in your ecommerce, if this wasn't you please contact as soon as possible.
               If it was you that change the password, you can just delete this email.
               Kind regards
               Customer Service</p>
        </form>
    </div>
</div>

{% endblock %}